<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mehome.dao.AuthorizePathDao">
  <resultMap id="BaseResultMap" type="com.mehome.domain.AuthorizePath">
    <id column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.String">
    delete from authorize_path
    where path = #{path,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.AuthorizePath">
    insert into authorize_path (path)
    values (#{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.AuthorizePath">
    insert into authorize_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.mehome.domain.AuthorizePath">
    <id column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.String">
    delete from authorize_path
    where path = #{path,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.AuthorizePath">
    insert into authorize_path (path)
    values (#{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.AuthorizePath">
    insert into authorize_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>