<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.AuthorizeRoleMenuDao">
    <resultMap id="BaseResultMap" type="com.mehome.domain.AuthorizeRoleMenu">
        <id column="role" property="role" jdbcType="VARCHAR"/>
        <id column="menu_id" property="menuId" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="MenuResultMap" type="com.mehome.domain.AuthorizeMenu">
        <id column="menu_id" property="menuId" jdbcType="INTEGER"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_href" property="menuHref" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="listByRole" resultMap="MenuResultMap" parameterType="java.lang.String">
        select menu.*
        from  authorize_role_menu role  left join  authorize_menu menu
        on  role.menu_id= menu.menu_id
        where  role.role=#{role,jdbcType=VARCHAR}
    </select>
    <delete id="delete" parameterType="map">
      delete from authorize_role_menu
      where role = #{role,jdbcType=VARCHAR}
      and menu_id = #{menuId,jdbcType=INTEGER}
   </delete>
    <insert id="insert" parameterType="com.mehome.domain.AuthorizeRoleMenu">
     insert into authorize_role_menu (role, menu_id)
     values (#{role,jdbcType=VARCHAR}, #{menuId,jdbcType=INTEGER})
    </insert>
    <insert id="insertRequired" parameterType="com.mehome.domain.AuthorizeRoleMenu">
        insert into authorize_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="role != null">
                role,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>