<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.ForumReplyDao" >
  <resultMap id="BaseResultMap" type="com.mehome.domain.ForumReply" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="replier" property="replier" jdbcType="VARCHAR" />
    <result column="is_best" property="isBest" jdbcType="BIT" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="is_admin" property="isAdmin" jdbcType="BIT" />
    <result column="platform" property="platform" jdbcType="SMALLINT" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mehome.domain.ForumReply" extends="BaseResultMap" >
    <result column="listpic" property="listpic" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="format_content" property="formatContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tid, type, replier, is_best, floor, is_admin, platform, score, create_time, is_active
  </sql>
  <sql id="Blob_Column_List" >
    listpic, content, format_content
  </sql>
  <select id="selectById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_reply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from forum_reply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.ForumReply" >
    insert into forum_reply (id, tid, type, 
      replier, is_best, floor, 
      is_admin, platform, score, 
      create_time, is_active, listpic, 
      content, format_content)
    values (#{id,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{replier,jdbcType=VARCHAR}, #{isBest,jdbcType=BIT}, #{floor,jdbcType=INTEGER}, 
      #{isAdmin,jdbcType=BIT}, #{platform,jdbcType=SMALLINT}, #{score,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isActive,jdbcType=BIT}, #{listpic,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{formatContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.ForumReply" >
    insert into forum_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="replier != null" >
        replier,
      </if>
      <if test="isBest != null" >
        is_best,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="listpic != null" >
        listpic,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="formatContent != null" >
        format_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="replier != null" >
        #{replier,jdbcType=VARCHAR},
      </if>
      <if test="isBest != null" >
        #{isBest,jdbcType=BIT},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=BIT},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=SMALLINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
      <if test="listpic != null" >
        #{listpic,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="formatContent != null" >
        #{formatContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateRequired" parameterType="com.mehome.domain.ForumReply" >
    update forum_reply
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="replier != null" >
        replier = #{replier,jdbcType=VARCHAR},
      </if>
      <if test="isBest != null" >
        is_best = #{isBest,jdbcType=BIT},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=BIT},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=SMALLINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="listpic != null" >
        listpic = #{listpic,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="formatContent != null" >
        format_content = #{formatContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mehome.domain.ForumReply" >
    update forum_reply
    set tid = #{tid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      replier = #{replier,jdbcType=VARCHAR},
      is_best = #{isBest,jdbcType=BIT},
      floor = #{floor,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=BIT},
      platform = #{platform,jdbcType=SMALLINT},
      score = #{score,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=BIT},
      listpic = #{listpic,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      format_content = #{formatContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.mehome.domain.ForumReply" >
    update forum_reply
    set tid = #{tid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      replier = #{replier,jdbcType=VARCHAR},
      is_best = #{isBest,jdbcType=BIT},
      floor = #{floor,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=BIT},
      platform = #{platform,jdbcType=SMALLINT},
      score = #{score,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>