<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.HouseRalationBasicDao" >
  <resultMap id="BaseResultMap" type="com.mehome.domain.HouseRalationBasic" >
    <id column="ralation_id" property="ralationId" jdbcType="VARCHAR" />
    <result column="basic_id" property="basicId" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ralation_id, basic_id, house_id, create_time
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from house_ralation_basic
    where ralation_id = #{ralationId,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from house_ralation_basic
    where ralation_id = #{ralationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.HouseRalationBasic" >
    insert into house_ralation_basic (ralation_id, basic_id, house_id, 
      create_time)
    values (#{ralationId,jdbcType=VARCHAR}, #{basicId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.HouseRalationBasic" >
    insert into house_ralation_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ralationId != null" >
        ralation_id,
      </if>
      <if test="basicId != null" >
        basic_id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ralationId != null" >
        #{ralationId,jdbcType=VARCHAR},
      </if>
      <if test="basicId != null" >
        #{basicId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateRequired" parameterType="com.mehome.domain.HouseRalationBasic" >
    update house_ralation_basic
    <set >
      <if test="basicId != null" >
        basic_id = #{basicId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ralation_id = #{ralationId,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.mehome.domain.HouseRalationBasic" >
    update house_ralation_basic
    set basic_id = #{basicId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where ralation_id = #{ralationId,jdbcType=VARCHAR}
  </update>
</mapper>