<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.ProductCommentDao" >
  <resultMap id="BaseResultMap" type="com.mehome.domain.ProductComment" >
    <id column="comment_id" property="commentId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="replier" property="replier" jdbcType="VARCHAR" />
    <result column="is_best" property="isBest" jdbcType="BIT" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="is_admin" property="isAdmin" jdbcType="BIT" />
    <result column="from_tag" property="fromTag" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
    <result column="listpic" property="listpic" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="format_content" property="formatContent" jdbcType="LONGVARCHAR" />
    <result column="comfort" property="comfort" jdbcType="REAL" />
    <result column="convenient" property="convenient" jdbcType="REAL" />
    <result column="service" property="service" jdbcType="REAL" />
    <result column="is_check" property="isCheck" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    comment_id, product_id, type, replier, is_best, floor, is_admin, from_tag, score, 
    create_time, is_active,listpic, content, format_content,comfort,convenient,service,is_check
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product_comment
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from product_comment
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.ProductComment" >
    insert into product_comment (comment_id, product_id, type, 
      replier, is_best, floor, 
      is_admin, from_tag, score, create_time, 
      is_active, listpic, content, 
      format_content,comfort,convenient,service,is_check)
    values (#{commentId,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{replier,jdbcType=VARCHAR}, #{isBest,jdbcType=BIT}, #{floor,jdbcType=INTEGER}, 
      #{isAdmin,jdbcType=BIT}, #{fromTag,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isActive,jdbcType=BIT}, #{listpic,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{formatContent,jdbcType=LONGVARCHAR}, #{comfort,jdbcType=REAL}, #{convenient,jdbcType=REAL},#{service,jdbcType=REAL},#{isCheck,jdbcType=BIT})
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.ProductComment" >
    insert into product_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="replier != null" >
        replier,
      </if>
      <if test="isBest != null" >
        is_best,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="fromTag != null" >
        from_tag,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="listpic != null" >
        listpic,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="formatContent != null" >
        format_content,
      </if>
      <if test="comfort != null" >
        comfort,
      </if>
      <if test="convenient != null" >
        convenient,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="isCheck != null" >
        is_check,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="replier != null" >
        #{replier,jdbcType=VARCHAR},
      </if>
      <if test="isBest != null" >
        #{isBest,jdbcType=BIT},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=BIT},
      </if>
      <if test="fromTag != null" >
        #{fromTag,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
      <if test="listpic != null" >
        #{listpic,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="formatContent != null" >
        #{formatContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="comfort != null" >
        #{comfort,jdbcType=REAL},
      </if>
      <if test="convenient != null" >
        #{convenient,jdbcType=REAL},
      </if>
      <if test="service != null" >
        #{service,jdbcType=REAL},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateRequired" parameterType="com.mehome.domain.ProductComment" >
    update product_comment
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="replier != null" >
        replier = #{replier,jdbcType=VARCHAR},
      </if>
      <if test="isBest != null" >
        is_best = #{isBest,jdbcType=BIT},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=BIT},
      </if>
      <if test="fromTag != null" >
        from_tag = #{fromTag,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="listpic != null" >
        listpic = #{listpic,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="formatContent != null" >
        format_content = #{formatContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="comfort != null" >
        comfort = #{comfort,jdbcType=REAL},
      </if>
      <if test="convenient != null" >
        convenient = #{convenient,jdbcType=REAL},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=REAL},
      </if>
      <if test="isCheck != null" >
        is_check = #{isCheck,jdbcType=BIT},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mehome.domain.ProductComment" >
    update product_comment
    set product_id = #{productId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      replier = #{replier,jdbcType=VARCHAR},
      is_best = #{isBest,jdbcType=BIT},
      floor = #{floor,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=BIT},
      from_tag = #{fromTag,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=BIT},
      listpic = #{listpic,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      format_content = #{formatContent,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.mehome.domain.ProductComment" >
    update product_comment
    set product_id = #{productId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      replier = #{replier,jdbcType=VARCHAR},
      is_best = #{isBest,jdbcType=BIT},
      floor = #{floor,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=BIT},
      from_tag = #{fromTag,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=BIT},
      comfort = #{comfort,jdbcType=REAL},
      convenient = #{convenient,jdbcType=REAL},
      service = #{service,jdbcType=REAL},
      is_Check = #{isCheck,jdbcType=BIT}
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </update>
  <select id="getListByCondition" parameterType="com.mehome.requestDTO.CommentBean" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM product_comment
    WHERE 1=1
    <if test="productId != null">
      AND product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="isCheck != null">
      AND is_check = #{isCheck,jdbcType=INTEGER}
    </if>
    ORDER BY create_time DESC
    limit #{pageNow},#{pageSize}
  </select>
  <select id="getSizeByCondition" parameterType="com.mehome.requestDTO.CommentBean" resultType="java.lang.Long">
    SELECT count(*)
    FROM product_comment
    WHERE 1=1
    <if test="productId != null">
      AND product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="isCheck != null">
      AND is_check = #{isCheck,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getMaxFloorByProduct" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT max(floor)
    FROM product_comment
    WHERE product_id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>