<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.SmsRecordDao">
    <resultMap id="BaseResultMap" type="com.mehome.domain.SmsRecord">
        <id column="auto_id" property="autoId" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="success" property="success" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
      auto_id, mobile, type, success, update_time
    </sql>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sms_record
        where mobile = #{mobile,jdbcType=VARCHAR}
        and type = #{type,jdbcType=INTEGER}
    </select>
    <insert id="insertRequired" parameterType="com.mehome.domain.SmsRecord">
        insert into sms_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="autoId != null">
                auto_id,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="success != null">
                success,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="autoId != null">
                #{autoId,jdbcType=INTEGER},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="success != null">
                #{success,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateRequired" parameterType="com.mehome.domain.SmsRecord">
        update sms_record
        <set>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="success != null">
                success = #{success,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where auto_id = #{autoId,jdbcType=INTEGER}
    </update>
</mapper>