<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.ThirdPartyPaymentDao" >
  <resultMap id="BaseResultMap" type="com.mehome.domain.ThirdPartyPayment" >
    <id column="payment_id" property="paymentId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="pay_uid" property="payUid" jdbcType="INTEGER" />
    <result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
    <result column="receive_account" property="receiveAccount" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="pay_amount" property="payAmount" jdbcType="INTEGER" />
    <result column="pay_reason" property="payReason" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_body" property="payBody" jdbcType="VARCHAR" />
    <result column="pay_body_id" property="payBodyId" jdbcType="VARCHAR" />
    <result column="callback_url" property="callbackUrl" jdbcType="VARCHAR" />
    <result column="trade_seq" property="tradeSeq" jdbcType="VARCHAR" />
    <result column="pay_content" property="payContent" jdbcType="LONGVARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    payment_id, order_id, pay_uid, pay_account, receive_account, pay_type, pay_status, 
    pay_amount, pay_reason, pay_time, pay_body, pay_body_id, callback_url, trade_seq,pay_content,update_time
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from third_party_payment
    where payment_id = #{paymentId,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from third_party_payment
    where payment_id = #{paymentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.ThirdPartyPayment" >
    insert into third_party_payment (payment_id, order_id, pay_uid, 
      pay_account, receive_account, pay_type, 
      pay_status, pay_amount, pay_reason, 
      pay_time, pay_body, pay_body_id, 
      callback_url, trade_seq, pay_content,update_time
      )
    values (#{paymentId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{payUid,jdbcType=INTEGER}, 
      #{payAccount,jdbcType=VARCHAR}, #{receiveAccount,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, 
      #{payStatus,jdbcType=INTEGER}, #{payAmount,jdbcType=INTEGER}, #{payReason,jdbcType=VARCHAR}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payBody,jdbcType=VARCHAR}, #{payBodyId,jdbcType=VARCHAR}, 
      #{callbackUrl,jdbcType=VARCHAR}, #{tradeSeq,jdbcType=VARCHAR}, #{payContent,jdbcType=LONGVARCHAR},
      #{payTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.ThirdPartyPayment" >
    insert into third_party_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="payUid != null" >
        pay_uid,
      </if>
      <if test="payAccount != null" >
        pay_account,
      </if>
      <if test="receiveAccount != null" >
        receive_account,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="payReason != null" >
        pay_reason,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="payBody != null" >
        pay_body,
      </if>
      <if test="payBodyId != null" >
        pay_body_id,
      </if>
      <if test="callbackUrl != null" >
        callback_url,
      </if>
      <if test="tradeSeq != null" >
        trade_seq,
      </if>
      <if test="payContent != null" >
        pay_content,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymentId != null" >
        #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="payUid != null" >
        #{payUid,jdbcType=INTEGER},
      </if>
      <if test="payAccount != null" >
        #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="receiveAccount != null" >
        #{receiveAccount,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="payReason != null" >
        #{payReason,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payBody != null" >
        #{payBody,jdbcType=VARCHAR},
      </if>
      <if test="payBodyId != null" >
        #{payBodyId,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null" >
        #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradeSeq != null" >
        #{tradeSeq,jdbcType=VARCHAR},
      </if>
      <if test="payContent != null" >
        #{payContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateRequired" parameterType="com.mehome.domain.ThirdPartyPayment" >
    update third_party_payment
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="payUid != null" >
        pay_uid = #{payUid,jdbcType=INTEGER},
      </if>
      <if test="payAccount != null" >
        pay_account = #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="receiveAccount != null" >
        receive_account = #{receiveAccount,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="payReason != null" >
        pay_reason = #{payReason,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payBody != null" >
        pay_body = #{payBody,jdbcType=VARCHAR},
      </if>
      <if test="payBodyId != null" >
        pay_body_id = #{payBodyId,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null" >
        callback_url = #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradeSeq != null" >
        trade_seq = #{tradeSeq,jdbcType=VARCHAR},
      </if>
      <if test="payContent != null" >
        pay_content = #{payContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where payment_id = #{paymentId,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.mehome.domain.ThirdPartyPayment" >
    update third_party_payment
    set order_id = #{orderId,jdbcType=VARCHAR},
      pay_uid = #{payUid,jdbcType=INTEGER},
      pay_account = #{payAccount,jdbcType=VARCHAR},
      receive_account = #{receiveAccount,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      pay_amount = #{payAmount,jdbcType=INTEGER},
      pay_reason = #{payReason,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_body = #{payBody,jdbcType=VARCHAR},
      pay_body_id = #{payBodyId,jdbcType=VARCHAR},
      callback_url = #{callbackUrl,jdbcType=VARCHAR},
      trade_seq = #{tradeSeq,jdbcType=VARCHAR},
      pay_content = #{payContent,jdbcType=LONGVARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    where payment_id = #{paymentId,jdbcType=VARCHAR}
  </update>
  <select id="countByCondition" parameterType="com.mehome.requestDTO.ThirdPayMentBean" resultType="java.lang.Long">
        SELECT count(*)
        FROM third_party_payment
        WHERE 1=1
        <if test="tradeSeq != null">
            AND trade_seq = #{tradeSeq,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectByCondition" parameterType="com.mehome.requestDTO.ThirdPayMentBean" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM third_party_payment
        WHERE 1=1
        <if test="tradeSeq != null">
            AND trade_seq = #{tradeSeq,jdbcType=VARCHAR}
        </if>
        ORDER BY pay_time DESC
        limit #{pageNow},#{pageSize}
    </select>
</mapper>