@charset "utf-8";

/*
	project : me+
	auther  : Charles
	date    : 2017-05-15
*/
body { background:#f0f0f0; }

.bannerIndex      { position:relative; width:100%; overflow:hidden; }
.swiper-slide img { width:100%; max-height:220px; display:block; }
.swiper-container-horizontal > .swiper-pagination { bottom:35px; }
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet { margin:0 4px; vertical-align:middle; width:15px; height:3px; opacity:1; border-radius:0px; background:#ffffff; }
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet-active { width:15px; height:3px; border:none; background:#28af90; }

.houseList          { padding:5px 0 0; overflow:hidden; }
.houseList li       { margin-top:10px; padding:0 10px; }
.houseList li a     { position:relative; width:100%; display:block; }
.houseList li a img { width:100%; border-radius:5px; overflow:hidden; box-shadow:3px 3px 5px #ccc; }
.houseList li h3    { margin-left:-40%; width:80%; height:40px; line-height:40px; text-align:center; font-size:20px; font-weight:normal; overflow:hidden; position:absolute; left:50%; top:28%; z-index:3; color:#fff; }
.houseList li em    { margin-left:-40%; width:80%; height:1px; display:block; opacity:0.3; background:#fff; position:absolute; left:50%; top:50%; z-index:3; }
.houseList li span  { margin-left:-40%; width:80%; height:20px; display:block; text-align:center; line-height:20px; font-size:16px; overflow:hidden; position:absolute; left:50%; top:56%; z-index:3; color:#afa8a5;}
.houseList .houseMask { width:100%; display:block; border-radius:5px; filter:alpha(opacity=50); opacity:0.5; background:#000; position:absolute; left:0; top:0; z-index:2; }

.search             { margin:8px 10px 0; padding-right:45px; height:50px; border-radius:5px; box-shadow:5px 5px 10px #eee; position:relative; z-index:10; background:#fff; }
.search .iconSearch { width:45px; height:50px; display:block; background:url(../img/indexSearch.png) no-repeat; background-size:45px 50px; position:absolute; right:0; top:0; }
.search span        { float:left; margin:8px 0 0 10px; border-radius:3px; cursor:default; padding:8px 10px; border:1px solid #d2d2d2;  background:#fff; }
.search span i      { margin-left:10px; width:12px; height:12px; display:inline-block; background:url(../img/close2.png) no-repeat; background-size:12px; }
.search .placeholder { text-indent:10px; height:50px; line-height:50px; font-style:normal; display:block; color:#c7c7c7; position:absolute; left:0; top:0; }

/* my */
.bannerMy     { position:relative; width:100%; overflow:hidden; }
.bannerMy img { width:100%; display:block; }
.myHeader     { margin-left:-40px; width:80px; height:80px; display:block; border-radius:50%; border:3px solid #fff; overflow:hidden; position:absolute; left:50%; top:15%; z-index:3; }
.myHeader img { width:80px; height:80px; }
.myName       { width:100%; height:30px; line-height:30px; font-weight:bold; text-align:center; font-size:16px; display:block; color:#fff; position:absolute; left:0; top:60%; z-index:3; }
.myClass      { margin-left:-40px; width:80px; height:24px; display:block; background:url(../img/qyClass.png) no-repeat; background-size:80px 24px; position:absolute; left:50%; top:75%; z-index:3; }
.myList li    { margin-bottom:1px; height:44px; }
.myList li a  { padding-left:40px; height:44px; line-height:44px; display:block; position:relative; background:#fff; }
.myList li .rz  { font-size:12px; position:absolute; right:35px; top:0px; z-index:3; }

/* evaluate */
.service  { margin-bottom:10px; padding:10px 0; background:#fff; overflow:hidden; }
.service li { margin:10px 0; padding-left:70px; height:26px; line-height:26px; position:relative; color:#282828; }
.service li .ssd { width:50px; height:26px; display:block; position:absolute; left:10px; top:0; z-index:3; }
.service dl      { margin-right:10px; }
.service dl dd   { float:left; margin-right:4%; width:26px; height:25px; display:block; background:url(../img/iconStar.png) no-repeat; background-size:26px 25px; }
.service dl .ssdSelect { width:26px; height:25px; display:block; background:url(../img/iconStar2.png) no-repeat; background-size:26px 25px; }

.common { margin-top:10px; padding:0 10px; }
.common h2 { padding:20px 0 10px; font-size:16px; color:#777777; }
.common .commonList li { border-bottom:1px solid #e5e5e5; }

.textarea { padding:5px 0; width:100%; height:120px; font-size:14px; line-height:24px; color:#c8c8c8; }
.btnFb { padding:10px 10px 0; }
.popEva span { margin-top:5px; text-align:center; font-size:16px; line-height:30px; display:block; color:#fff; }
.hdTop { margin-top:44px; }

.btnLoginout { margin-top:10px; height:40px; line-height:40px; text-align:center; display:block; background:#fff; color:#ff3636; }

#houseList { position:relative; }
/*// 下拉更新 /////////////*/
#pullDown, #pullUp                             { display:none; height:30px; line-height:30px; padding:10px 0; font-weight:bold; font-size:14px; color:#888; }
#pullDown .pullDownLabel, #pullUp .pullUpLabel { display:none; }
#pullDown .pullDownIcon, #pullUp .pullUpIcon   { margin:0 auto; display:block; width:30px; height:30px; background:url(../img/pull-icon@2x.png) no-repeat; background-size:30px 60px; -webkit-transition-property:-webkit-transform; -webkit-transition-duration:250ms; transition-property:transform; transition-duration:250ms; }
#pullDown .pullDownIcon                        { -webkit-transform:rotate(0deg) translateZ(0); transform:rotate(0deg) translateZ(0); }
#pullUp .pullUpIcon                            { -webkit-transform:rotate(-180deg) translateZ(0); transform:rotate(-180deg) translateZ(0); }
#pullDown.flip .pullDownIcon                   { -webkit-transform:rotate(-180deg) translateZ(0); transform:rotate(-180deg) translateZ(0); }
#pullUp.flip .pullUpIcon                       { -webkit-transform:rotate(0deg) translateZ(0); transform:rotate(0deg) translateZ(0); }
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon { background-position:0 100%; -webkit-transform:rotate(0deg) translateZ(0); -webkit-transition-duration:0ms; -webkit-animation-name:loading; -webkit-animation-duration:2s; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:linear; }

.noHouse { margin-top:20%; }
.noHouse img { width:100%; display:block; }
/*
#pullDown2, #pullUp2                             { display:none; height:40px; line-height:40px; padding:0px; font-weight:bold; font-size:14px; color:#888; }
#pullDown2 .pullDownLabel, #pullUp2 .pullUpLabel { display:none; }
#pullDown2 .pullDownIcon, #pullUp2 .pullUpIcon   { margin:0 auto; display:block; width:40px; height:40px; background:url(../img/pull-icon@2x.png) no-repeat; background-size:40px 80px; -webkit-transition-property:-webkit-transform; -webkit-transition-duration:250ms; transition-property:transform; transition-duration:250ms; }
#pullDown2 .pullDownIcon                         { -webkit-transform:rotate(0deg) translateZ(0); transform:rotate(0deg) translateZ(0); }
#pullUp2 .pullUpIcon                             { -webkit-transform:rotate(-180deg) translateZ(0); transform:rotate(-180deg) translateZ(0); }
#pullDown2.flip .pullDownIcon                    { -webkit-transform:rotate(-180deg) translateZ(0); transform:rotate(-180deg) translateZ(0); }
#pullUp2.flip .pullUpIcon                        { -webkit-transform:rotate(0deg) translateZ(0); transform:rotate(0deg) translateZ(0); }
#pullDown2.loading .pullDownIcon, #pullUp2.loading .pullUpIcon { background-position:0 100%; -webkit-transform:rotate(0deg) translateZ(0); -webkit-transition-duration:0ms; -webkit-animation-name:loading; -webkit-animation-duration:2s; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:linear; }
#pullUp2 { height:1px; overflow:hidden; }*/
@keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to   { -webkit-transform:rotate(360deg) translateZ(0); }
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to   { -webkit-transform:rotate(360deg) translateZ(0); }
}

@-moz-keyframes loading {
	from { -moz-transform:rotate(0deg) translateZ(0); }
	to   { -moz-transform:rotate(360deg) translateZ(0); }
}
