<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mehome.dao.UserAccountOperationDao" >
  <resultMap id="BaseResultMap" type="com.mehome.domain.UserAccountOperation" >
    <id column="operation_id" property="operationId" jdbcType="VARCHAR" />
    <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="balance_change" property="balanceChange" jdbcType="INTEGER" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_desc" property="operationDesc" jdbcType="VARCHAR" />
    <result column="operation_index" property="operationIndex" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    operation_id, operation_type, user_id, balance_change, operation_time, operation_desc, 
    operation_index, order_id, platform
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_account_operation
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from user_account_operation
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mehome.domain.UserAccountOperation" >
    insert into user_account_operation (operation_id, operation_type, user_id, 
      balance_change, operation_time, operation_desc, 
      operation_index, order_id, platform
      )
    values (#{operationId,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{balanceChange,jdbcType=INTEGER}, #{operationTime,jdbcType=TIMESTAMP}, #{operationDesc,jdbcType=VARCHAR}, 
      #{operationIndex,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertRequired" parameterType="com.mehome.domain.UserAccountOperation" >
    insert into user_account_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="balanceChange != null" >
        balance_change,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationDesc != null" >
        operation_desc,
      </if>
      <if test="operationIndex != null" >
        operation_index,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="balanceChange != null" >
        #{balanceChange,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationDesc != null" >
        #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="operationIndex != null" >
        #{operationIndex,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateRequired" parameterType="com.mehome.domain.UserAccountOperation" >
    update user_account_operation
    <set >
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="balanceChange != null" >
        balance_change = #{balanceChange,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationDesc != null" >
        operation_desc = #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="operationIndex != null" >
        operation_index = #{operationIndex,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.mehome.domain.UserAccountOperation" >
    update user_account_operation
    set operation_type = #{operationType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      balance_change = #{balanceChange,jdbcType=INTEGER},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_desc = #{operationDesc,jdbcType=VARCHAR},
      operation_index = #{operationIndex,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR}
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
</mapper>